@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

img {
    width: 100px;
    height: 100px;
}

* {
    font-family: 'Roboto';
}

#hero-image {
    width: 400px;
    height: 200px;
}

#hero, footer, header {
    background-color: #1F2937;
}

#main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#secondary-text, #links {
    font-size: 18px;
    color: #E5E7EB;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}

#cta {
    background-color: #3882F6;
}

#info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

#testimonial {
    background-color: #E5E7EB;
}

#testimonial .quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    display: flex;
    justify-content: center;
    padding: 50px;
}

#testimonial .author {
    font-size: 24px;
    color: #1F2937;
    font-weight: 700;
    display: flex;
    justify-content:right;
    padding: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
}

#links {
    display: flex;
    gap: 20px;
}

.button {
    background-color: #3882F6;
    color: white;
    font-weight: 700;
    width: 100px;
    height: 30px;
    align-content: center;
    text-align: center;
    border-radius: 6px;
}

#hero {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

#info-header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#children-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
    text-align: center;
    flex: 1;
}