@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

img {
    width: 100px;
    height: 100px;
}

* {
    font-family: 'Roboto';
}

#hero, footer {
    background-color: #1F2937;
}

#main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#secondary-text, #links {
    font-size: 18px;
    color: #E5E7EB;
}

#logo {
    font-size: 24px;
}

.button, #cta {
    background-color: #3882F6;
}